[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
langchain-openai = "*"
pypdf = "*"
langchain-community = "*"
langchain-pinecone = "*"
pinecone = "*"

[dev-packages]

[requires]
python_version = "3.12"
